
header {
  align-items: center;
  justify-content: con;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  background-image: url(https://images.pexels.com/photos/1939485/pexels-photo-1939485.jpeg?auto=compress&cs=tinysrgb&w=400);
}

footer {
  text-align: center;
}

.nav {
  text-align: right;
}

img {
  height: 300px;
  width: 300px;
  position: relative;
}

span {
    color: darkblue;
    font-family: Open -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
    