* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url(/image3.webp);
  font-family: Helvetica;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 20px;
}


.registration {
  height: 780px;
  width: 850px;
  margin: auto;
}

h1, h3 {
  text-align: center;
  padding-top: 20px;
}

.login {
  text-align: center;
  margin-top: 20px;
  color: blue;
}

form input {
  width: 15%;
  padding: 7px;
  border: 2px solid gray;
  margin: 7px;
}

p {
  margin: 10px;
}


  


