* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 70%;
  min-height: 70vhh;
  font-size: 50px;
}

/* [class^="g"] {
  align-items: center;
  padding: 2em;
} */

.grid {
  display: grid;
  gap: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  grid-template-areas: 
  'A A A B B'
  'A A A B B'
  'C C D D D'
  'C C E E E'
  ;

  width: 400px;
  margin: 20px auto;
  height: 60vh;
}

.one {
  grid-area: A;
  background-color: #a20202;
}

.two {
  grid-area: B;
  background-color: orange;
}

.three {
  grid-area: C;
  background-color: #19a919;
}

.four {
  grid-area: D;
  background-color: #43c8f4;
}

.five {
  grid-area: E;
  background-color: #43c8f4;
}

footer {
  font-size: 15px;
  text-align: center;
}